ol { list-style-type: none; text-align: center; }
li { display: inline; }
h3 { text-align: center; font-family: cursive; color: white; font-size: x-large; }
fieldset { text-align: center; }
table { text-align: center; }


